<%= form_for [@project, @task] do |f| %>

  <%= f.label :title %><br>
  <%= f.text_field :title %>

   <ul>
    <% @tags.each do |tag| %>
      <li>
        <label>
          <% checked = tag.tasks.exists?(@task.id) ? true : false %>
          <%= f.check_box 'tag_ids', { :name => 'task[tag_ids][]', :checked => checked }, tag.id, nil %>
          <%= tag.name %>
        </label>
      </li>
    <% end %>
    </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
